body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}

.text{
    width: 50%;
}
button{

}
.button{
    padding: 8px;
    margin: 16px;
    background-color: dodgerblue;
    color: white;
}
.button:hover{
    background-color: #1873cb;
}
.hide{
    display: none;
}